<!-- src/app/tabs/tabs.page.html -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>foro</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="irAMiInfo()">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Mi Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="codigo-qr">
      <ion-icon name="scan-outline"></ion-icon>
      <ion-label>Código QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>mi clase</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
  